<div class="menu-container">
  
      <div class="card-header col-md-12">
          <h2> Homepage Feed </h2>
      </div>

  {{#each articles as |article|}}
   
      <div class="card-header col-md-12">

              <section class = "card1">
          <!--        {{article.id}}.-->
                  {{article.title}}
             </section>

                <section class = "card1">
                  Posted by 
                  {{article.user_id}}  
                  on:
                  {{article.date_created}}
            </section>
        </div>
              <section class = "card1">
                   {{article.text}}
             </section>
           
  {{/each}}
</div> 

 <!-- <button type="submit" class="btn btn-primary" id="submit-btn">
          New Post
  </button>
  -->