   
   
    {{#each articles as |article|}}

              
      
                <h3> </h3>
              <section class = "card_title">
             <p class="strong">   Post Title:  {{article.title}}</p>

             <p>    Post Category: 
          {{article.category.category_name}}  </p>
              <p>       Posted by
                  {{article.user_id}}  
                    on:
                  {{format_date article.date_created}} </p>
              </section>

              <section class = "card_body">
              <p>    {{article.text}} </p>
            </section>
            
           
  {{/each}}
